:root {
  --primary1: #3299ed;
  --primary2: #f2575f;
  --nav-select: #f9272b;
  --bg1: linear-gradient(to bottom, #c0e3f8, #fff7f7);
  --bg2: linear-gradient(to bottom, #fff7f7, #c0e3f8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  margin-bottom: 200px;
}

.navbar .nav-brand {
  display: inline-block;
  text-align: center;
}

.navbar .logo {
  width: 60px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.navbar .logo-text {
  margin: 5px 0 0; /* jarak dari logo */
  font-size: 0.6em; /* lebih kecil dari ukuran default */
  line-height: 1;
  font-weight: 500;
}

.navbar-center {
  display: flex;
  align-items: center;
  gap: 50px; /* jarak antara tombol back dan title */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar .back-btn {
  border: none;
  background: none;
  cursor: pointer;
  color: #000000aa;
}

.navbar .back-btn:hover {
  color: #000;
}

.navbar .back-btn svg {
  stroke-width: 2.5;
}

.navbar .title {
  font-size: 1.5rem;
  font-weight: 600;
}
